.item-container {
  max-width: 25%;
  padding: 10px;
  margin: 0px 0em 0px -8px;
}

.item-image {
  width: 100%;
}

.item-name {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .item-container {
    max-width: 100%;
    padding: 10px;
    margin: 0px 0em 0px -18px;
  }
}
